<li class="module_dsc_list" id="module_{{id}}_{{day}}">
	<span class="module_dsc_title module_dsc_title_day_{{day}}"># {{day}}ì¼</span>
	{{#items}}
	<div class="module_dsc_pic">
		<img class="module_dsc_pic_img" src="{{thumnail}}" alt="">
		<span class="module_dsc_pic_text">{{name}}</span>
	</div>
	{{/items}}
</li>
