<li>
	<div class="gr_layer_card">
		<a href={{link}} class="inner" data-courseid="{{id}}">
			<span class="attraction_img">
				<img src={{thumnail}} class="" width="69" height="69" alt="임시 이미지">
			</span>
			<div class="region_detail">
				<div class="area_bx">
					<div class="sub_info"><span class="txt">{{detailType}}</span><span class="review_info">리뷰 {{countOfReview}}</span></div>
					<strong class="area_name">{{name}}</strong>
				</div>
				<p class="adt_text">{{description}}</p>
				<span class="tag_info">
				{{#tags}}
					<span class="atc">{{tag}}</span>&nbsp;
				{{/tags}}
				</span>
			</div>
		</a>
	</div>
</li>
