<li class="cyt_day_bar cyt_day_bar_{{item}}">
	<span class="cyt_day_bar_txt"> {{item}} 일차</span>
	<span class="cyt_day_bar_btn cyt_daybar_del_btn"><i class="fa fa-times-circle-o" aria-hidden="true" data-day="{{item}}"></i></span>
	<span class="cyt_day_bar_btn cyt_cartItem_map_btn" id="cartItem_mapBtn_{{item}}"><i class="fa fa-map-o" aria-hidden="true"></i></span>
</li>
<div class="cyt_day_descriptor" id="cyt_day_descriptor_{{item}}"></div>
