<li class="cyt_slot" data-spot="{{id}}">
	<div class="cyt_slot_image">
		<img src="{{image}}" alt="{{name}} image">
		<span class="cyt_slot_day cyt_slot_day_{{day}}">{{day}}일</span>
	</div>
	<div class="cyt_slot_description">
		<div class="region_detail">
			<div class="area_bx">
				<strong class="area_name">{{name}}</strong>
				<div class="sub_info"><span class="txt">{{detailType}}</span><span class="review_info">리뷰 {{countOfReview}}</span></div>
			</div>
			<p class="adt_text">{{description}}</p>
		</div>
	</div>
</li>
