<li class="cyt_cart_item" id="cyt_cart_item_{{id}}" data-spot="{{id}}">
	<div class="cyt_cart_item_control"><i class="fa fa-arrows-v cyt_cart_item_control_btn" aria-hidden="true"></i></div>
	<div class="cyt_layer_card">
		<div class="region_detail">
			<div class="area_bx">
				<strong class="area_name">{{name}}</strong>
				<div class="sub_info"><span class="txt">{{detailType}}</span></div>
			</div>
			<p class="adt_text">{{description}}</p>
			<span class="cyt_cartItem_del_btn"><i class="fa fa-times-circle-o" aria-hidden="true" data-order="{{order}}"></i></span>
		</div>
	</div>
</li>
